 /*
Abdelrahman Qamhia
Library App Styles

Analogous Colors:
#80888F
#8A9599
#818282
#8A9995 
#808F87
*/
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     font-family: Helvetica, Arial, sans-serif;
 }

 #container {
     border: 1px solid black;
     padding: 10px;
     border-radius: 20px;
     background-color: #80888F;
 }

 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 h1 {
     display: flex;
     justify-content: center;
 }

 input[type="text"],
 select {
     width: 100%;
     padding: 5px;
     margin-bottom: 5px;
 }

 input[type="checkbox"] {
     margin-right: 5px;
 }

 .wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 5px;
 }

 .wrapper label {
     margin-right: 10px;
 }

 .checkboxes {
     display: flex;
     align-items: center;
     margin-right: 0px;
 }

 .checkboxes label {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px; 
 }

 .action-btns {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

 #add,
 #list {
     margin-top: 10px;
     width: 30%;
     color: blue;
     border-radius: 20px;
 }

 #libraryTable {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;  
  }
  
  #libraryTable th,
  #libraryTable td {
    border: 1px solid black; 
    padding: 8px;    
    text-align: center;   
  }
  
  
  .action-btns button {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;    
    margin: 4px 2px;    
  }
  
  #add, #list {
    color: #818282;
  }
  
label {
    font-size:20px;
}

